In [1]:
%cd /Users/denis/Documents/Projects/jupyter-notebook/notebook-generator/benchmarking

/Users/denis/Documents/Projects/jupyter-notebook/notebook-generator/benchmarking

In [4]:
import sys
version = 'v0.6'
sys.path.append('/Users/denis/Documents/Projects/jupyter-notebook/notebook-generator/library/{}/core_scripts/load'.format(version))
sys.path.append('/Users/denis/Documents/Projects/jupyter-notebook/notebook-generator/library/{}/core_scripts/signature'.format(version))

In [6]:
import signature
import json
from importlib import reload
import load

In [7]:
infile = 's1-signature_metadata.dir/json/SIG00051.json'

In [8]:
# Read JSON
with open(infile) as openfile:
    signature_metadata = json.loads(openfile.read())

# Read dataset
dataset = load.h5(path='/Users/denis/Data/biojupies/h5/s3-series_h5.dir/{dataset_accession}-{platform_accession}.h5'.format(**signature_metadata))

In [53]:
# Compute signature
reload(signature)
signature = signature.cd(dataset=dataset, group_A=signature_metadata['control'], group_B=signature_metadata['perturbation'])
signature

                   CD
gene_symbol
HSPB1        0.328332
KRT17        0.295574
MT-CO1       0.279018
AC010970.2   0.274727
KRT6A        0.263523
MT-ND4       0.226667
KRT14        0.200521
TXNIP        0.196443
MT-CO3       0.175138
KRT16        0.148665
MT-ATP6      0.143053
MT-ND2       0.116636
MT-CO2       0.113760
MT-ND1       0.103939
SCD          0.100848
RPLP0        0.100227
DHCR24       0.096351
COL17A1      0.080183
PKP1         0.078026
PERP         0.077959
KRT5         0.075050
EEF2         0.074030
MT-CYB       0.066862
DSP          0.066306
GSTP1        0.066118
FTH1         0.064178
JUP          0.063442
PLEC         0.058608
ATP1A1       0.057749
AHNAK2       0.057536
...               ...
RPL30       -0.012775
RPS24       -0.012974
RPL7A       -0.013452
ATP12A      -0.013503
RPL13A      -0.013935
SLC38A2     -0.014422
SAT1        -0.015271
RPL21       -0.016466
HSPA5       -0.016746
KRT7        -0.016992
S100A14     -0.017399
TMSB10      -0.023102
RPS23       -0.023287
RPL41       -0.024609
RPS18       -0.024954
RPL17       -0.025508
UBC         -0.026263
DDIT4       -0.028132
RPL8        -0.028663
SLPI        -0.030460
RPS3        -0.033124
CSTB        -0.033868
SPRR3       -0.041579
S100A6      -0.041661
S100A8      -0.048977
S100A2      -0.063157
S100A9      -0.076028
KRT13       -0.100871
KRT19       -0.139006
EEF1A1      -0.223932

[35238 rows x 1 columns]

In [10]:
import geode

In [11]:
signature_metadata

{'cell_type': 'HBE',
 'control': ['GSM2266295',
  'GSM2266296',
  'GSM2266297',
  'GSM2266298',
  'GSM2266299'],
 'dataset_accession': 'GSE85402',
 'pert': 'siRNA',
 'perturbation': ['GSM2266300',
  'GSM2266301',
  'GSM2266302',
  'GSM2266303',
  'GSM2266304'],
 'platform_accession': 'GPL11154',
 'tf': 'EHF'}

In [12]:
group_A = signature_metadata['control']
group_B = signature_metadata['perturbation']

In [13]:
# Create sample class
sampleclass = []
for sample in dataset['rawdata'].columns:
    if sample in group_A:
        sampleclass.append(1)
    elif sample in group_B:
        sampleclass.append(2)
    else:
        sampleclass.append(0)

In [46]:
reload(geode)
cd = geode.chdir(data=dataset['rawdata'].values, sampleclass=sampleclass, genes=dataset['rawdata'].index)

In [47]:
import pandas as pd

In [52]:
cd_dataframe = pd.DataFrame(cd,columns=['CD', 'gene_symbol']).set_index('gene_symbol').sort_values('CD', ascending=False)
cd_dataframe.head()

                   CD
gene_symbol
HSPB1        0.328332
KRT17        0.295574
MT-CO1       0.279018
AC010970.2   0.274727
KRT6A        0.263523

In [22]:
sampleclass = [1, 1, 1, 1, 1, 2, 2, 2, 2, 2]

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2]

In [ ]:
np.array(map(int, sampleclass))